<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css', _external=True)}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   <script src="https://use.fontawesome.com/76f63edc47.js"></script>
<title>My SoundCloud | Home</title>
</head>
<body>
  <header>
    <div class="nav">
    <div class="container">
        <div class="row">
            <div class="col1">
                 <img src={{url_for('static',filename='img/soundcloud logo.png')}} alt="soundcloud logo">

            </div>
            <div class="col2">
                <nav>
                    <ul class="tops">
                        <a href="{{url_for('index')}}"><li>HOME</li></a>
<!--                         <a href=""><li>ABOUT</li></a> -->
                        <a href="{{url_for('new')}}"><li>TRACKS</li></a>
                        
                    </ul>
                     <form class="form" action="">

                        <input type="text" placeholder="Search for all songs" class="sbar">
                        <a class="s-btn" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </form>
                     <span><i class="fa fa-bars s-btn" ></i></span>
                </nav>

            </div>

            </div>

        </div>

    </div>
 
  </div>  
  </header>
  <section>
   
    <div class="hero">
    <div class="container">
        <div class="row2">
        <!-- col1  -->
            <div>
            <h1>Royalty free music for your videos</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A eum ea molestias voluptatibus velit?  <br>
                Nam aspernatur obcaecati odit magni aut? Suscipit dolore vitae doloremque quaerat, modi quasi aliquid veniam aperiam.</p>
            <div class="btn">
               <a href=""> <button class="p-btn">
                Personal
            </button></a>
            <a href=""><button>
                Commercial
            </button></a>
            </div>
            <p class="days">30 days free trial. Cancel anytime</p>
        </div>
        
       <!-- col2 -->
       
        <div class="cards">
           
            <div class="card1">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>
             <div class="card2">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="card3">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>   
            <div class="card4">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>  
            <div class="card5">
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>                
        </div>

        </div>

    </div>
    </div>
   </div>
  </section>

  <section>
    <div class="hero1">
    <div class="container1">
        <div class="row3">
        <!-- col1  -->
            <div>
            <h1>Sound Track Everywhere</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A eum ea molestias voluptatibus velit?  <br>
                Nam aspernatur obcaecati odit magni aut? Suscipit dolore vitae doloremque quaerat, modi quasi aliquid veniam aperiam.</p>
            <p class="days">30 days ree trial. Cancel anytime</p>
        </div>
        <!-- col2 -->
         <div class="cards1st">
           
            <div class="card6">
                <h2>YOUTUBE <br> Forget about claims </h2>
                
            </div>
             <div class="card7">
                <h2>TWICH <br> Epic tracks for your stream </h2>
                <p></p>
            </div>
            <div class="card8">
                <h2>FILMS <br> Soundtrack your world </h2>
                
            </div>   
        </div>
        <!-- col3 -->
        <div class="cardsSec">
        <div class="card9">
                <h2>FACEBOOK <br> Make stories pop </h2>
                
            </div>  
            <div class="card10">
                <h2>INSTAGRAM <br> Stand out in the feed </h2>
                
            </div>
            <div class="card11">
                <h2>ADVERTISING <br> Amplify your brand</h2>
                
            </div>                
        </div>
  </section>
                    
  <section>
    <div class="hero2">
    <div class="container2">
        <div class="row4">
        <!-- col1  -->

        <div class="cardsthird">

                <div class="card12">
                    <h2>Ready, Set <br>
                        Soundtrack
                     </h2>
                </div>
            
        
        
       <!-- col2 -->   
                <div class="card13">
                    <h1>Try For Free</h1>
                    <h3>Explore our music and try it out for 30 days - free of charge, no strings
                         attached.<br>During your free trial you can download and publish
                         <br> as many tracks you like in both videos or podcast
                    </h3>
                    <br>
                    <br>
                    <h1>Pick a subscription</h1>
                    <h3>A subscription is most beneficial if ypu publish video regularly.All
                    subscriptions gives you full acess to 35,000 tracks and 90,000 sound effects. <br>
                    Unlimited downloads and use </h3>
                    <br>
                    <br>
                    <h1>Connect your channels</h1>
                    <h3>After signing up, you'll be able to connect your social media channels.<br>
                        All connected channels will be cleared, which means you can publish content with our music without worrying <br>
                        about copyright.
                     </h3>
               </div>
             
        </div>

        </div>

    </div>
    
  </section>

  <section>
    <div class="hero3">
    <div class="container3">
        <div class="row5">
        <!-- col1  -->
            <div>
            <h1>Pick up a Subscription</h1>
            <div class="cards1st">
           
            <div class="card14">
                <h2>Personal</h2>
                    <h3>You are creating content or podcast for your own use <br>
                        <h2>US$19/month* </h2> 
                    <h3>*When you pay US$108 upfront otherwise US$49 month </h3>
                    
                <a href="">
                    <div class="bbtn">
                    <button >
                        Read more
                    </button>

                </div>
                </a>
                
            </div>
             <div class="card15">
                <h2>Commercial</h2>
                    <h3>You are freelancer or business creating commercial product</h3>
                        <h2>US$19/month* </h2>
                    <h3>*When you pay US$108 upfront otherwise US$49 month </h3>
                   <div class="bbtn1">

                    <a href="">
                        <button>
                        Read more
                    </button>
                    </a>

                   </div>
                
            </div>
            <div class="card16">
                <h2>Enterprise</h2>
                    <h3>You are a publisher, broadcaster or in need of an enterprise solution.</h3>
                    <h2>Request a quote</h2>

                    <!-- button3 -->
                 
                <div class="bbtn2">
                    <a href="">
                        <button>
                        Read more
                    </button>
                    </a>

                </div>
                
                
            </div>   
        </div>
            
            
        </div>
    </div>
    </div>
   </div>
  </section>
  
  <section>
    <div class="hero5">
        <div class="container5">
            <div class="row7">
                <div class="grid-senior">
                <div class="Grids">
                  <div class="grid1">
                <h5>Creative Skills</h5>
                
            </div>
             <div class="grid2">
                <h5>Deep Focus</h5>
                
            </div>
            <div class="grid3">
                <h5>Uplifting Workout</h5>
            </div>   
            </div>
            
            

            <div class="GridTh">

                <div class="grid4">
                <h5>Cinematic Scores</h5>
                
            </div>
             <div class="grid5">
                <h5>Indie Kitchen</h5>
                
            </div>
            <div class="grid6">
                <h5>Clothing Haul</h5>

            </div>

        </div>
         <div class="GridSe">
            <div class="grid7">
                <h5>Crime Podcast</h5>
                
                </div>
               <div class="grid8">
                <h5>Feelgood Tracks</h5>
                
               </div>
               <div class="grid9">
                <h5>Kitchen Soundbed</h5>
         </div>
         
        </div>
        </div>
    <div class="redimage">
<h1 style="color:aliceblue;">Royalty free music to
download or stream <br>
- Get Unlimited
access to over
35,000 tracks and
90000 sound effect. </h1>
    </div>
    </div>
    </div>
    </div>
  </section>

  <section>
     <div class="hero4">
    <div class="container4">
        <div class="row6">
        <!-- col1  -->

        <div class="bigimage">        
                <div class="card17">
                   <h1>Never worry about <br> 
                    royalty fee again
                   </h1> 
                   <a href=""><h2>All rights are included >>></h2></a>
               </div>
             
        </div>

        </div>

    </div>
    </div>
  </section>
</body>
</html>
