<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css', _external=True)}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/upload.css', _external=True)}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   <script src="https://use.fontawesome.com/76f63edc47.js"></script>
  <title>Tracks</title>
</head>

<body>
 <header>
    <div class="nav">
    <div class="container">
        <div class="row">
            <div class="col1">
                <img src={{url_for('static',filename='img/soundcloud logo.png')}} alt="soundcloud logo">


            </div>
            <div class="col2">
                <nav>
                    <ul>
                        <a href="{{url_for('index')}}"><li>HOME</li></a>
                        <a href=""><li>ABOUT</li></a>
                        <a href="{{url_for('new')}}"><li>TRACKS</li></a>
                        
                    </ul>
                     <form class="form" action="">

                        <input type="text" placeholder="Search for all songs">
                        <a class="s-btn" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </form>
                    <span><i class="fa fa-bars s-btn" ></i></span>
                </nav>

            </div>

            </div>

        </div>

    </div>
 
  </div>  
  </header>
  <section>
    <div class="next">
       <div class="Ucontainer">
        <div class="rowUp">
            <h1>SOME SONGS AND SERMONS TO LISTEN</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Nemo corrupti impedit recusandae, nam est iste? Fugiat numquam quo fuga error.</p>
        </div>
         <p align="center">TD JAKES</p>
    <div class="Soundt1">
        <div>
            <div><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315768309%3Fsecret_token%3Ds-jHrivKPSO15&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/simon-jiniola" title="Simon Jiniola" target="_blank" style="color: #cccccc; text-decoration: none;">Simon Jiniola</a> · <a href="https://soundcloud.com/simon-jiniola/td-jakes/s-jHrivKPSO15" title="TD Jakes" target="_blank" style="color: #cccccc; text-decoration: none;">TD Jakes
        </a>
        </iframe>
        </div>    
    </div>

    <div>
            <div>
        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315768309%3Fsecret_token%3Ds-jHrivKPSO15&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/simon-jiniola" title="Simon Jiniola" target="_blank" style="color: #cccccc; text-decoration: none;">Simon Jiniola</a> · <a href="https://soundcloud.com/simon-jiniola/td-jakes/s-jHrivKPSO15" title="TD Jakes" target="_blank" style="color: #cccccc; text-decoration: none;">TD Jakes
        </a>
        </iframe>
        </div>    
    </div>
    <div>
            <div><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315768309%3Fsecret_token%3Ds-jHrivKPSO15&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/simon-jiniola" title="Simon Jiniola" target="_blank" style="color: #cccccc; text-decoration: none;">Simon Jiniola</a> · <a href="https://soundcloud.com/simon-jiniola/td-jakes/s-jHrivKPSO15" title="TD Jakes" target="_blank" style="color: #cccccc; text-decoration: none;">TD Jakes
        </a>
        </iframe>
        </div>    
    </div>
    <div>
            <div><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315768309%3Fsecret_token%3Ds-jHrivKPSO15&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/simon-jiniola" title="Simon Jiniola" target="_blank" style="color: #cccccc; text-decoration: none;">Simon Jiniola</a> · <a href="https://soundcloud.com/simon-jiniola/td-jakes/s-jHrivKPSO15" title="TD Jakes" target="_blank" style="color: #cccccc; text-decoration: none;">TD Jakes
        </a>
        <!-- </iframe> -->
        </div>    
    </div>
    <div>
            <div><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315768309%3Fsecret_token%3Ds-jHrivKPSO15&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/simon-jiniola" title="Simon Jiniola" target="_blank" style="color: #cccccc; text-decoration: none;">Simon Jiniola</a> · <a href="https://soundcloud.com/simon-jiniola/td-jakes/s-jHrivKPSO15" title="TD Jakes" target="_blank" style="color: #cccccc; text-decoration: none;">TD Jakes
        </a>
        </iframe>
        </div>    
    </div>
    </div>
    </section>
    
    <section>
    <div class="next2">
       <div class="Ucontainer2">
        <div class="rowUp1">

            <h1 align="center">UPLOAD YOUR SONGS HERE</h1>

            <form class="Uform" action="{{url_for('page')}}" method="POST" enctype="multipart/form-data">
                <input  name="form" type="file"  placeholder=""/>
                <input  type="Submit" value="Upload"/>
            </form>

        </div>

       </div>
    </div>
 </section>
  
</body>
</html>
