<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <h1>YOU HAVE SUCCESSFULLY UPLOADED YOUR SONG</h1>

    <div class="shown_files">
        <div>
            <audio controls period = "auto" >
                src="{{url_for( 'static',filename ='uploads/' + input)}}"
                alt = "songs"
                type ="audio/mpeg"
            </audio>
        </div>

    </div>
</body>
</html>